/* Dark theme variables */

:root {
    /* Color palette */
    --color-white: #fff;
    --color-black: #000;
    --color-light: #eee;
    --color-dark: #222;
    --color-default: rgb(60, 63, 65);
    --color-primary: rgb(157, 118, 56);
    --color-shine: rgb(153, 42, 157);

    /* Semantic variables */
    --color-text: var(--color-light);
    --color-fg: var(--color-light);
    --color-fg-dark: var(--color-dark);
    --color-bg: var(--color-black);
    --color-bg-transparent: rgba(0, 0, 0, 0.8);
    --color-footer-bg: var(--color-bg);
    --color-footer-fg: #444;

    /* All other variables remain the same as default theme */
} 