<div id="landingContainer" style="display: none;">
    <%- include('components/landingUpper') %>
    
    <%- include('components/landingAside') %>

    <!-- Banner component is now enabled -->
    <%- include('components/landingBanners') %>

    <%- include('components/landingControls') %>

    <script src="./assets/js/scripts/landing.js"></script>
    <script src="./assets/js/scripts/banner.js"></script>
</div>
