/* Github Code Highlighting. */
@import '../../../../node_modules/github-syntax-dark/lib/github-dark.css';

/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

@font-face {
    font-family: 'Avenir Book';
    src: url('../../fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../../fonts/Avenir-Medium.ttf');
}

@font-face {
    font-family: 'Ringbearer';
    src: url('../../fonts/Ringbearer.ttf');
}

/* Minecraft (i.e. the text font) */
@font-face {
    font-family: 'Minecraft';
    src: url('../../fonts/Minecraft/MinecraftRegular-Bmg3.otf');
}
@font-face {
    font-family: 'Minecraft';
    src: url('../../fonts/Minecraft/MinecraftItalic-R8Mo.otf');
    font-style: italic;
}
@font-face {
    font-family: 'Minecraft';
    src: url('../../fonts/Minecraft/MinecraftBold-nMK1.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Minecraft';
    src: url('../../fonts/Minecraft/MinecraftBoldItalic-1y1e.otf');
    font-weight: bold;
    font-style: italic;
}

/* Minecraft Ten (i.e. the title font) */
@font-face {
    font-family: 'Minecraft Ten';
    src: url('../../fonts/MinecraftTen/MinecraftTen-VGORe.ttf');
    line-height: 1.2em;
    ascent-override: 1em;
}

/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

/* Reset body, html, and div presets. */
body,
html,
div {
    margin: 0px;
    padding: 0px;
}

/* Reset p presets. */
p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Set default font and color. */
body,
button {
    font-family: var(--font-body);
    color: white;
}

/* Control styles */
.hidden-when-inactive:not([active], .active) {
    display: none !important;
}
