/* Disabled toggleswitch for required mods. */
.toggleSwitch[reqmod] {
    filter: grayscale(49%) brightness(60%);
    pointer-events: none;
}

/* Set the status color of an enabled mod. */
.settingsBaseMod[enabled] > .settingsModContent > .settingsModMainWrapper > .settingsModStatus {
    background-color: rgb(165, 195, 37);
}

/* Add opacity to submods of a disabled mod. */
.settingsBaseMod:not([enabled]) > .settingsSubModContainer .settingsModContent {
    opacity: 0.5;
}

/* Curve the left border for submods. */
.settingsSubModContainer > .settingsSubMod:first-child {
    border-top-left-radius: 10px;
}
.settingsSubModContainer > .settingsSubMod:last-child {
    border-bottom-left-radius: 10px;
}
.settingsSubModContainer > .settingsSubMod:only-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Wrapper container for all submods. */
.settingsSubModContainer {
    margin-top: 10px;
}
